@media screen and (max-width: 600){
.content-flex {
  flex-flow: column wrap;
}
} 


.App {
  min-height: 100vh;
  
}
body {
  background-image: url('pages/images/head-image.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #777777

}

h1, h2, h4, h5, h6 {
  text-shadow: 0 0 1rem #444;
}

.title {
  margin: 3rem auto;
  background-color: #FFF;
  box-shadow: .5rem .5rem 1rem black;
  padding: 2rem auto;
  opacity: .9;
}

.content {
  background-color: #FFF;
  box-shadow: .5rem .5rem 1rem black;
  padding: 15rem 10rem;
  opacity: 0.9;
}

.content-two {
  background-color: #FFF;
  box-shadow: .5rem .5rem 1rem black;
  padding: 5rem 3rem;
  opacity: 0.9;
  font-size: 1rem;
}

.content-flex {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  background-color: #FFF;
  box-shadow: .5rem .5rem 1rem black;
  padding: 5rem 3rem;
  opacity: 0.9;
  font-size: 1rem;
}

.spacer-vh50 {
  min-height: 10vh;
}

.pearl-sizer {
  box-shadow: .5rem .5rem 1rem black;
  max-width: 50%;
  max-height: 50%;
  margin: 3rem 1.5rem;
  padding: 1rem
}

.gardening-sizer {
  box-shadow: .5rem .5rem 1rem black;
  max-height: 90%;
  max-width: 90%;
  margin-bottom: 3rem;
  padding: 1rem
}

.watering-sizer {
  box-shadow: .5rem .5rem 1rem black;
  max-height: 60%;
  max-width: 60%;
  margin: 3rem auto;
  padding: .5em
}

.happy-sizer {
  max-width: 80%;
  max-height: 80%;
  box-shadow: .5rem .5rem 1rem black;
  padding: 1rem;
  margin: 3rem auto;
}

.logo-sizer {
  max-width: 80%;
  max-height: 80%;
}

.logo-thumbnail {
  max-height: 5%;
  max-width: 5%
}


.btn {
	line-height: 50px;
	height: 50px;
	text-align: center;
	width: 250px;
	cursor: pointer;
}

.btn-three {
	color: #FFF;
	transition: all 0.5s;
	position: relative;
}
.btn-three::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background-color: rgba(255,255,255,0.1);
	transition: all 0.3s;
}
.btn-three:hover::before {
	opacity: 0.4 ;
	transform: scale(0.5,0.5);
}
.btn-three::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
	transition: all 0.3s;
	border: 1px solid rgba(255,255,255,0.5);
	transform: scale(1.2,1.2);
}
.btn-three:hover::after {
	opacity: 1;
	transform: scale(1,1);
}